.button{
	background-color: #2EBD59;
	color: white;
	border-radius: 30px;
	padding: 10px 20px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
	transition: background-color .2s;
	font-weight: 500;
	margin-right: 10px;
}

.button:hover{
	color: white;
	background-color: #219042;
}

.button--transparent{
	background-color: rgba(0,0,0,0.2);
	border: 1px solid white;
}

.button--transparent:hover{
	background-color: rgba(0,0,0,0.5);
}

.container{
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: scroll;
}


.content-wrap{
	display: flex;
	flex: 1;
	flex-direction: row;
}



.sidebar{
	width: 200px;
	background-color: rgba(0,0,0,0.1);
	background: linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0.9));
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*flex: 1;*/
}

.sidebar__user{
}

.main-content{
	flex: 1;
	overflow: scroll;
}

.main-wrap{
	padding: 30px;
}

.main-menu{
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 50px;
}

.main-menu__link{
	padding: 5px;
	transition: opacity .3s;
	color: white;
	font-weight: bold;
	opacity: .6;
}

.main-menu__link:hover, .main-menu__link:focus, .main-menu__link.active{
	color: white;
	opacity: 1;
}

.top-bar{
	padding: 10px;
	width: 100%;
}

.input{
	border: none;
	box-shadow: none;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 5px;
}

.image-wrapper{
	position: relative;
	background: linear-gradient(to top, transparent, rgba(255,255,255, 0.2));
}
.image-container{
	padding-top: 100%;
	background-size: cover;
	background-position: 50%;
	margin-bottom: 10px;
	position: relative;
	transform: scale(1);
	transition: transform .2s, box-shadow .2s;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.image-container:after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);*/
	background-color: black;
	/*background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);*/
	opacity: 0;
	transition: opacity .2s;
}

.item-list__item:hover .image-container{
	/*transform: scale(.9);*/
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.item-list__item:hover .image-container:after{
	opacity: .4;
}


.main-title{
	margin-bottom: 40px;
}

.item-list{
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	margin: -1em 0 0 -1em;
}

.item-list a:hover{
	color: white;
}

.item-list__item{
	width: 25%;
	padding: 1em 0 0 1em;
	position: relative;
	margin-bottom: 35px;

}
@media screen and (max-width:1000px){
	.item-list__item{
		width: 33.33333%;
	}
}

.item-list__title{
	color: white;
	/*font-weight: 600;*/
	font-size: 20px
}

.item-list__icon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	font-size: 100px;
}

.search-form{
	margin-bottom: 20px;
}

.search-form input{
	border-radius: 25px;
	border: none;
	padding: 10px;
	width: 300px;
}

.search-form input:focus{
	outline: none;
}

.queue{
	padding: 20px;
}