.player-wrapper{
	background: #252525;
	padding: 15px 30px 20px 30px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	/*display: none;*/
}

.music-player{
	position: relative;
}

.current-track{
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
}

.current-track__image{
	width: 50px;
	margin-right: 10px;
}

.current-track__details{
	flex: 1;
}

.music-player video{
	display: none !important;
}

.progress{
	position: relative;
}

.progress__time{
	position: absolute;
	bottom: 0;
}

.progress__time--current{
	right: 103%;
}

.progress__time--total{
	left: 103%;
}

.progress__bar{
	background: dimgray;
	border-radius: 30px;
	overflow: hidden;
	margin-top: 10px;
	cursor: pointer;
}

.progress__bar-completed{
	height: 5px;
	width: 0%;
	background-color: green;
}

.player-controls{
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}
.player-controls__button{
	line-height: 1;
	display: inline-block;
	font-size: 25px;
}

.player-controls__button:not(:last-child){
	margin-right: 50px;
}

.empty-queue{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.empty-queue p{
	color: rgba(255,255,255, 0.1);
	font-size: 60px;
	font-weight: bold;
	margin: 0;
	line-height: 1;
}

.empty-queue small{
	color: #1ed760;
	opacity: .8;
}