body {
	font-family: helvetica neue, helvetica;
	color: #434343;
	color: white;
}

.container{
background: #191919;
/*background: -moz-linear-gradient(top, #ff9f82 0%, #ff597d 100%); 
background: -webkit-linear-gradient(top, #ff9f82 0%,#ff597d 100%);
background: linear-gradient(to bottom, #ff9f82 0%,#ff597d 100%); 
 background-image: linear-gradient(top, #434343 0%, black 100%);
	*/

	min-height: 100vh;
	/*padding-bottom: 150px;*/
}

h1,h2,h3,h4,h5,h6, p, a{
	font-family: helvetica neue, helvetica;
	color: #434343;
	color: white;
}

h1,h2{
	font-weight: bold;
}